<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <bean id="testBean"
          class="ru.vasiliyryzhkovskiy.springcourse.TestBean">
        <constructor-arg value="Vasiliy"/>
    </bean>

    <bean id="musicBean"
          class="ru.vasiliyryzhkovskiy.springcourse.ClassicalMusic"
          init-method="doMyInit"
          destroy-method="doMyDestroy">
    </bean>

    <bean id="jazzBeanFactory"
          class="ru.vasiliyryzhkovskiy.springcourse.JazzMusic"
          factory-method="getJazzMusic"
          init-method="doMyInit"
          destroy-method="doMyDestroy">
    </bean>

    <bean id="musicPlayerBean"
          class="ru.vasiliyryzhkovskiy.springcourse.MusicPlayer">
        <constructor-arg ref="musicBean"/>
        <!-- ссылка на BEAN !!!!  musicBean -->
    </bean>

    <!--     bean для setter`a класса TestMusicSetter-->
    <!--     Spring в классе MusicPlayer ищет метод setMusic - удаляет set и заглавную букву переводит в нижний регистр-->
    <!--     поэтому здесь указано имеено name="music", а не name="setMusic"-->
    <bean id="musicPlayerSetterBean"
          class="ru.vasiliyryzhkovskiy.springcourse.MusicPlayer">
        <property name="music" ref="musicBean"/>
        <property name="name" value="Some name"/>
        <property name="volume" value="50"/>
    </bean>

    <!-- bean для setter`a класса TestMusicScope -->
    <!-- поэтому здесь указано имеено name="music", а не name="setMusic" -->
    <bean id="musicPlayerScopeBean"
          class="ru.vasiliyryzhkovskiy.springcourse.MusicPlayer"
          scope="prototype">
        <property name="music" ref="musicBean"/>
        <property name="name" value="Some name"/>
        <property name="volume" value="50"/>
    </bean>

    <!-- bean для property  класса TestMusicProperties -->
    <bean id="musicPlayerPropertyBean"
          class="ru.vasiliyryzhkovskiy.springcourse.MusicPlayer">
        <property name="music" ref="musicBean"/>
        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>

    <bean id="classicalMusicBean"
          class="ru.vasiliyryzhkovskiy.springcourse.ClassicalMusic">
    </bean>

    <bean id="rockMusicBean"
          class="ru.vasiliyryzhkovskiy.springcourse.RockMusic">
    </bean>

    <bean id="technoMusicBean"
          class="ru.vasiliyryzhkovskiy.springcourse.TechhoMusic">
    </bean>


    <!-- bean for List<bean>   MusicPlayer -->
    <bean id="musicPlayerListsBean"
          class="ru.vasiliyryzhkovskiy.springcourse.MusicPlayer">

        <property name="musicList">
            <list>
                <ref bean="classicalMusicBean"/>
                <ref bean="rockMusicBean"/>
                <ref bean="technoMusicBean"/>
            </list>
        </property>

        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>

</beans>