<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="testBean"
          class="ru.vasiliyryzhkovskiy.springcourse.TestBean">
        <constructor-arg value="Vasiliy"/>
    </bean>

    <bean id="musicBean"
          class="ru.vasiliyryzhkovskiy.springcourse.ClassicalMusic">
    </bean>

    <bean id="musicPlayerBean"
          class="ru.vasiliyryzhkovskiy.springcourse.MusicPlayer">
        <constructor-arg ref="musicBean"/>
        <!-- ссылка на BEAN !!!!  musicBean -->
    </bean>

    <!-- bean для setter`a класса MusicPlayer -->
    <!-- Spring в классе MusicPlayer ищет метод setMusic - удаляет set и заглавную букву переводит в нижний регистр -->
    <!-- поэтому здесь указано имеено name="music", а не name="setMusic" -->
    <bean id="musicPlayerSetterBean"
          class="ru.vasiliyryzhkovskiy.springcourse.MusicPlayer">
        <property name="music" ref="musicBean"/>
    </bean>

    <!-- bean для setter`a класса MusicPlayer -->
    <bean id="musicPlayerPropertyBean"
          class="ru.vasiliyryzhkovskiy.springcourse.MusicPlayer">
        <property name="music" ref="musicBean"/>
    </bean>


</beans>